* {
  font-family: "Futura LT", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.task-app {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.task-app .column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  background-color: gray;
  /* padding: 10px 10px 10px 10px; */
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

/* .item {
  margin-bottom: 10px;
  background-color: gray;
  color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
} */

.item.dragging {
  background-color: coral;
}
